
body {
    background-color: #bbb;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 130%;
    margin-left: 10%;
}

h2 {
    font-size: 110%;
}

div#chat {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: table;
}

div#chat_main {
    display: table;
    width: 100%;
}

div#chat_messages {
    width: 70%;
    display: table-cell;
}

div#chat_messages_wrap {
    overflow: auto;
}

div#chat_users {
    width: 30%;
    display: table-cell;
}

div#chat_users_wrap {
    overflow: auto;
}

div#chat_input {
    display: table;
}

#chat_input_nick {
    width: 20%;
    display: table-cell;
}

#chat_input_line {
    background-color: #bbb;
    border: 2px solid #444;
    color: #000;
    width: 80%;
    display: table-cell;
}


/* messages */
span.msg_date {
    color: #555;
    font-family: monospace;
}

span.msg_nick {
    font-weight: bold;
    color: #111;
}

span.msg_angl {
    font-size: 70%;
    color: #555;
}

span.msg_me {
    font-style: italic;
}

span.msg_stat {
    font-style: italic;
    color: #555;
}
